Vizor.xcodeproj/project.xcworkspace/xcuserdata/ege.xcuserdatad/Bookmarks/bookmarks.plist
Vizor.xcodeproj/project.xcworkspace/xcuserdata/ege.xcuserdatad/IDEFindNavigatorScopes.plist
Vizor.xcodeproj/xcuserdata/ege.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
