<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntiqueSerie-Regular.otf</string>
		<string>Bricolage Grotesque.ttf</string>
		<string>VioletSans-Regular.ttf</string>
		<string>Wittgenstein.ttf</string>
		<string>Familjen Grotesk.ttf</string>
		<string>Overused Grotesk.ttf</string>
	</array>
</dict>
</plist>
